<main>
    @if (TempData["product"] != null)
    {
        <p>@TempData["product"]</p>
    }
    @if (TempData["user"] != null)
    {
        <p>@TempData["user"]</p>
    }

    @if (TempData["error"] != null)
    {
        <p>@TempData["error"]</p>
    }


    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">IN FORNO</h1>
        <p class="lead">Qua facciamo pizze. </p>
    </section>
</main>